<div class="contents-row">
  <div class="container">
    <%= form_tag('/tweets', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="偉人の名前" type="text" name="name" autofocus="true">
      <textarea placeholder="text" name="text" cols="100" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
</div>